{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}}" data-template="base.twig">
    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <div class="wrapper">

      <div class="wrapper-content">
        {% block content %}
          {% include 'snippets/sections.twig' %}
          {% include 'snippets/acf_fields.twig' %}
        {% endblock %}
      </div>

    </div>

    {% block footer %}
      {% include 'footer.twig' %}
      {{ function('wp_footer') }}
    {% endblock %}
  </body>
</html>
