<footer id="footer" class="bg-blue">
  <div class="container">

    {% if footer_menu %}
      <ul class="wrapper-links">
        {% for item in footer_menu.get_items %}

          <li class="{{ item.classes | join(' ') }}">
            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</footer>
