//  Colours for genesis theme
//  -----------------------------
//
//  Table of Contents:
//
//   1. Block colour classes

@each $class, $colours in $colour-palette {
  .#{$class} {
    color: map-get( $colours, font );
    background-color: map-get( $colours, background );
    &.accent {
      color: map-get( $colours, accent );
    }
    a {
      color: map-get( $colours, accent );
    }
  }
}
