<section class="scene_element main {% block sectionClasses %}{% endblock %}">
  {% block sectionHeader %}
    <div class="container">
      <div class="title">
        <h2>{% block title %}{% endblock title %}</h2>
      </div>
    </div>
  {% endblock %}
  {% block sectionBody %}
  {% endblock %}
</section>
